<launch>
  <!-- Analysis engines to execute, comma separated list: eninge1,engine2,... -->
  <arg name="depthTopic"       default="/rs_camera/depth/image_raw"/> <!-- Short version for analysis_engines -->
  <arg name="colorTopic"       default="/rs_camera/color/image_raw"/> <!-- Short version for analysis_engines -->
  <arg name="depthHints"       default="raw"/>
  <arg name="colorHints"       default="compressed"/>
  <arg name="camInfoTopic"     default="/rs_camera/color/camera_info"/>
  
  <!-- launch robosherlock with the pipeline defined in demo.xml-->
  <node name="count_objects_node" pkg="product_counter"  type="counter_node" output="screen">
    <param name="depthTopic"    type="str"  value="$(arg depthTopic)"/>
    <param name="colorTopic"    type="str"  value="$(arg colorTopic)"/>
    <param name="camInfoTopic"  type="str"  value="$(arg camInfoTopic)"/>
    <param name="depthHints"    type="str"  value="$(arg depthHints)"/>
    <param name="colorHints"    type="str"  value="$(arg colorHints)"/>
  </node>
  <node name="rotate_map_hack" pkg ="tf" type="static_transform_publisher"
	args = "0 0 0 0 3.14 -1.57 /map /map_rotated 100"/> 


</launch>
