<launch>
  <arg name="cameraPrefix"     default="camera"/>
  <arg name="depthTopic"       default="depth/image_raw"/>
  <arg name="colorTopic"       default="color/image_raw"/> 
  <arg name="depthHints"       default="raw"/>
  <arg name="colorHints"       default="compressed"/>
  <arg name="camInfoTopic"     default="depth/camera_info"/>
  
  <!-- launch robosherlock with the pipeline defined in demo.xml-->
  <node name="count_objects_node" pkg="product_counter"  type="counter_node" output="screen">
    <param name="depthTopic"    type="str"  value="/$(arg cameraPrefix)/$(arg depthTopic)"/>
    <param name="colorTopic"    type="str"  value="/$(arg cameraPrefix)/$(arg colorTopic)"/>
    <param name="camInfoTopic"  type="str"  value="/$(arg cameraPrefix)/$(arg camInfoTopic)"/>
    <param name="depthHints"    type="str"  value="$(arg depthHints)"/>
    <param name="colorHints"    type="str"  value="$(arg colorHints)"/>
  </node>
 
  <node name="rotate_map_hack" pkg ="tf" type="static_transform_publisher"
	args = "0 0 0 0 3.14 1.57 /map /map_rotated 100"/> 


</launch>
